<!-- fragments/barra-superior.html -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="barraSuperior(totalFueraDeServicio, esHistorial)" class="barra-superior">

    <!--  NO es historial -> Se muestra este contenedor sobre la tabla  -->
      <div th:if="${!esHistorial}" class="contenedor-principal">
        <!-- Primer bloque -->
        <div class="bloque-izquierdo">
          <div class="contenedor-total-fs">
            <div class="etiqueta-fs">
              Actualmente en caída operacional: <span th:text="${totalFueraDeServicio}" class="valor-fs"></span>
            </div>
          </div>
        </div>

        <!-- Segundo bloque -->
        <div class="bloque-derecho">
          <form th:action="@{/ct/virgilio/inoperativos}" method="post" class="formulario-codigo">
            <input type="text" id="code" name="code" placeholder="Código del activo" class="input-codigo" />
            <button type="submit" class="btn">Historial</button>
          </form>
        </div>
      </div>



      <!-- SI es historial -> Se muestra este contenedor sobre la tabla -->
<!--      <div th:if="${esHistorial}" class="volver-historial">-->
      <div th:if="${esHistorial}" class="contenedor-principal">
        <div class="bloque-izquierdo">
          <div class="contenedor-total-fs">
              <!-- Botón "volver" -->
              <form th:action="@{/ct/virgilio/inoperativos}" method="get">
                <button type="submit" class="btn"><<< Volver</button>
              </form>
          </div>

          <div th:if="${esHistorial}" style="margin-bottom: 10px; font-weight: bold; color: #333;">
            Total tiempo fuera de servicio: <span th:text="${totalTiempoFueraDeServicio}">00:00</span> (HH:mm)
          </div>

        </div>


        <!-- Segundo bloque -->
        <div class="bloque-derecho">
          <form th:action="@{/ct/virgilio/inoperativos}" method="post" class="formulario-codigo">
            <input type="date" id="fecha_inicial" name="fecha_inicial" class="input-codigo" />
            <input type="date" id="fecha_final" name="fecha_final" class="input-codigo" />
            <button type="submit" class="btn">Buscar</button>
          </form>
        </div>
      </div>



    </div>

</html>
